@charset "utf-8";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

$primary-color: #333;
$primary-font: 'Lato';
$border-radius: 5px;

$warm-cream:  #F3E7D1;
$cool-cream:  #E4DACE;
$true-beige:  #DFC8A9;
$off-white:   #EFE7DA;
$off-black:   #4E4945;

$grey:        #6A6965;
$light-teal:  #479F91;
$dark-teal:   #2B6D69;

$coral:       #FF5954;
$dark-coral:  #FF1935;
$crimson:     #D81639;
$burgundy:    #970005;

$texas-rose:  #FFA355;
$ochre:       #D0711D;


@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, .8); 
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;
    
  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: $grid-item-background;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-right: $grid-item-border;
    border-bottom: $grid-item-border;
    cursor: pointer;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:hover {
      background: transparentize($grid-item-color, .95);
    }
  }

  .grid-item img {
      display: block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: .2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, .4);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }  
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}





#buttons {
  width: 50%;
  height: 70%;
  margin: auto;
  padding-top: 10%;



}


#homechoice {
  width: 30%;
  height: 30%;
  margin: auto;
  margin-top: 10%;
  background-color: transparentize($off-black,.1);


}
.user-preferences-form {
  background-color: transparentize($off-black,.1);
  padding: 25px;
  width: 50%;
  margin: auto;
  border-radius: $border-radius;


}


#user-preferences-form {
  font: $primary-font;
  text-align: center;
  color: $off-white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;

}


header.navigation {
  $navigation-padding: 1em;
  $navigation-background: $grey;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 80px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;
  position:fixed;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;    
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  .nav {
    z-index: 9999999;
    float: none;
    @include media ($horizontal-bar-mode) {
      float: left;
    }
  }

  ul#navigation-menu {    
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      font-weight: 400;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: .8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }      
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: .8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    @include clearfix;
    display: block;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding/2;
    clear: both;
    background: #505050;

    @include media($large-screen) {
      background: transparent;
      float: right;
      clear: none;
    }
  }

  .sign-up {
    @extend button;
    margin-top: 1.2em;
    float: right;
    display: inline;
    font-size: .8em;  
    text-transform: uppercase;
    padding: .75em 1em;
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    padding: .85em .6em; 
    width: 60%;
    float: left;

    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .8inputem 1em;
        font-size: .8em;
     
        color: $navigation-color;
        border-radius: $base-border-radius * 2;
        margin: 0;

        @include media($large-screen) {
          width: 100%;
        }
      }

      button[type=submit] {
        @include button(flat, $navigation-search-background);
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      width: 16em;
      position: relative; 
     

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }
}



body {
	font-family: $primary-font;
  margin: 0; 
  background-color: $off-black;

}
h1 {
    color: $off-white;
    font-family: Monoton;
    text-align: center;
    font-size: 100px;
    padding: 15px;


}

#user-preferences-container {

  margin-top: 10%;
  margin: auto;

}

h2 {
  color: $off-white;
  font-family: Monoton;
  text-align: center;
  font-size: 20px;
}

.venue_results {
  border: $grey 1px solid;
  border-radius: $border-radius;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  background-color: transparentize($off-black, .5);
  color: $off-white;
}



#navigation-bar {
  background-color: $off-black;
  margin: 0;
  height: 50px;
}

.header-container {
	width: 100%;
  background-color: $off-black;
  background-image: url("../../static/img/bar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: $border-radius;
  height: 600px;

  img {
    opacity: 0.5;
  }
  }

#half-full-container {
  background-color: $off-black;
}

input {
    border: 5px solid white;
    border-radius: $border-radius;
    height: 1.5em;

}

.typeahead {
  width: 250px;
}

td {
  margin-bottom: 10px;
  padding:20px;
  text-align: center;
  border: black  1px;
}




.hover-tile-outer {
  $hover-tile-height: 150px;

  background-size: cover;
  background-position: bottom;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;
  
  @include media($medium-screen) {
    width: 100%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible-avoid {
    color: transparentize(white, .3);
    font-size: 2em;
    font-weight: 300;  
    padding-top: 1.5em;
    text-align: center;
    background-color: $burgundy;

  }

  .hover-tile-hidden-avoid {
    background: transparentize($burgundy, .25);
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }

    .hover-tile-visible-caution {
    color: transparentize(white, .3);
    font-size: 2em;
    font-weight: 200;  
    padding-top: 1.5em;
    text-align: center;
    background-color: $ochre;

  }

  .hover-tile-hidden-caution {
    background: transparentize($ochre, .25);
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }
  .hover-tile-visible-safe {
    color: transparentize(white, .3);
    font-size: 2em;
    font-weight: 200;  
    padding-top: 1.5em;
    text-align: center;
    background-color: $dark-teal;

  }

  .hover-tile-hidden-safe {
    background: transparentize($dark-teal, .25);
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }


}






.cards {
  @include clearfix;
}

.card {
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5);
  $card-image-background: transparent;
  $card-image-hover-background: transparent;
  $card-stats-color: lighten($base-accent-color, 10);

  @include transition (all 0.2s ease-in-out);
  background-color: $off-white;
  border-radius: $base-border-radius;
  border: $card-border;
  margin: auto;
  margin-bottom: $base-spacing;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  position: relative;

  @include media($large-screen) {
    @include span-columns(12);  
    @include omega(5n);
  }

  .card-image {
    overflow: hidden;
    max-height: 200px;

    img {
      width: 100%;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }
  }

  .ribbon-wrapper-safe {
    $ribbon-size: 85px;
    $ribbon-background: $light-teal;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .65em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }
  .ribbon-wrapper-avoid {
    $ribbon-size: 85px;
    $ribbon-background: $coral;
    @include size($ribbon-size);
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px;

    .ribbon {
      font-size: .65em;
      font-weight: 800;
      text-align: center;
      @include transform(rotate(45deg));
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: $ribbon-background;
      color: white;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: $base-spacing/3 $gutter/2;
  }

  .card-copy {
    padding: $base-spacing/2 $gutter/2;
    font-size: .9em;
    line-height: 1.5em;
    text-align: center;
  }

  .card-stats {
    padding: $base-spacing/2 $gutter/2;
    overflow: auto;

    ul li {
      display: inline;
      color: $dark-teal;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid transparentize($base-font-color, .8);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      span {
        color: $base-font-color;
        font-size: .7em;
        display: block;
        font-weight: normal;
      }
    }
  }

  &:hover {
    background-color: $card-hover-background;
    
    .card-image img {
      background: transparent;
    }
  
    .card-header {
      background-color: transparent;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}


.modal {
  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    $img-width: 300px;
    border-radius: $img-width/2;
    display: block;
    max-width: $img-width;
  }

  input[type="checkbox"] {
    display: none;
    background-color: $off-black(transparentize, .1)
  }

  .btn {
    @extend button;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include transition(opacity .25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, .85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    cursor: pointer;
    background: $modal-background;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    @include transition(opacity .25s ease);
    border-radius: $base-border-radius;
    background: $modal-background;
    margin: auto;
    max-height: 95%;
    position: relative;
    overflow: auto;
    width: 95%;
    padding: $modal-padding /2;
    margin-top: .6em;

    @include media($medium-screen) {
      padding: $modal-padding;
      width: 70%;
      max-height: 80%;
      margin-top: 4em;
    }

    @include media($large-screen) {
      width: 70%;
      margin-top: 4em;
    }

    h3 {
      color: $base-font-color;
      margin-bottom: .6em;
      text-align: left;
      text-transform: capitalize;
    }

    p.body, p.intro {
      font-size: $base-font-size;
      max-width: 100% !important;
      text-align: left;

      &.intro {
        color: $crimson;
        line-height: 1.4em;
      }

      &.body { 
        color: $off-black;
        line-height: 1.25em;

        @include media($medium-screen) {
          @include columns(2 6urlem);
        }
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: .5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0;
  }
}

// Based on code by Kasper Mikiewicz





#instagram-container {
  width: 660px;
  margin: 0 auto;
  overflow: auto;
}
 
ul {
  list-style-type: none;
}
 
li img {
  float: left;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 5px;
 -moz-transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
  height:200px;
  width:200px;
}

li video {
  float: left;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 5px;
 -moz-transition: all 0.2s ease-in-out;
 -webkit-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;
  height:200px;
  width:200px;
}

li img:hover {
border: 3px solid $light-teal;
}



div.card-container {
  width: 60%;
  margin:auto;

}



div.spacer {
  height: 50px;
}

#checkbox-div {
  background-color: transparentize($off-black, .1);
  width: 50%;
  margin:auto;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}



.accordion-tabs {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: lighten($light-gray, 10);
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-spacing;

  @include media(max-width $tab-mode) {
    border: $tab-border;
    border-radius: $base-border-radius;
  }

  .tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }

    &:first-child .tab-link {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;

      @include media(max-width $tab-mode) {
        border-top: 0;
      }
    }

    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }

  .tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: bold;
    padding: $base-spacing/2 $gutter/2;

    @include media($tab-mode) {
      @include inline-block;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      background-color: $tab-active-background;

      @include media($tab-mode) {
        background-color: $tab-active-background;
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    background: $tab-content-background;
    display: none;
    padding: $base-spacing $gutter;

    @include media($tab-mode) {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      border: $tab-border;
      float: left;
    }
  }
}

.accordion-name {
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-font-color;
  $accordion-menu-border: 1px solid $accordion-menu-border-color;
  $accordion-menu-background: lighten($accordion-menu-border-color, 10);
  $accordion-menu-hover: lighten($accordion-menu-background, 2);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2);
  $accordion-menu-list-padding: $base-spacing/2 $gutter;
  
  background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin-bottom: $base-spacing;

  li {
    border-bottom: $accordion-menu-border;

    > a {
      color: $accordion-menu-color;
      padding: $accordion-menu-list-padding;
      display: block;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $accordion-menu-hover;
    }
  }

  ul.submenu {
    display: none;
    font-size: .7em;


    li {
      background-color: $accordion-menu-sub-background;

      &:first-child {
        border-top: $accordion-menu-border;
        box-shadow: inset 0 1px 1px $accordion-menu-sub-inset;
      }

      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}

a {
  color: $off-white;
}

#slambtn {
  background-color: transparentize($burgundy, .3);
  border: $burgundy 2px solid;
  &:hover {
    background-color: transparentize($crimson, .2);
  }
}

#safebtn {
  background-color: $light-teal;
  border: $dark-teal 2px solid;
  &:hover {
    background-color: transparentize($light-teal, .2);
  }
}

#noinsta {
  color: $off-black;
  font-size: 1.5em;
}

