$primary-color: #333;
$primary-font: 'Lato';
$border-radius: 5px;

$warm-cream:  #F3E7D1;
$cool-cream:  #E4DACE;
$true-beige:  #DFC8A9;
$off-white:   #EFE7DA;
$off-black:   #4E4945;
$grey:        #6A6965;

body {
	font-family: $primary-font;
  background: $cool-cream;

}
h1 {
    color: $primary-color;
    font-family: Monoton;
    text-align: center;
    font-size: 45px;
    border-radius: $border-radius;
}

form {
	font: $primary-font;
	text-align: center;
  color: $off-black;
}

#user-preferences-container {
	margin:auto;
	width: 50%;
}

#header-container {
	margin:auto;
	width: 50%;
}

input {
    border: 5px solid white;
    border-radius: $border-radius;
    height: 1.5em;

}

td {
  margin-bottom: 10px;
}