@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button, header.navigation .sign-up, .modal .btn,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #256A65;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, header.navigation .sign-up:hover, .modal .btn:hover,
  input[type="submit"]:hover {
    background-color: #479F91;
    color: white; }
  button:disabled, header.navigation .sign-up:disabled, .modal .btn:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, header.navigation .sign-up, .modal .btn,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.grid-items-lines {
  position: relative; }
  .grid-items-lines:after {
    content: "";
    display: table;
    clear: both; }
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 14em;
    background: white;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 2em;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer; }
    @media screen and (min-width: 53.75em) {
      .grid-items-lines .grid-item {
        width: 33.33333%; } }
    .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.05); }
  .grid-items-lines .grid-item img {
    display: block;
    height: 2.5em;
    margin-bottom: 1.2em;
    opacity: .2; }
  .grid-items-lines .grid-item h1 {
    color: #333;
    font-size: 1.3em;
    margin-bottom: .4em; }
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6); }
    @media screen and (min-width: 40em) {
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 40em) {
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  .grid-items-lines .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: white; }
  .grid-items-lines .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: white; }

#buttons {
  width: 50%;
  height: 70%;
  margin: auto;
  padding-top: 10%; }

.user-preferences-form {
  background-color: rgba(78, 73, 69, 0.9);
  padding: 25px;
  width: 50%;
  margin: auto;
  border-radius: 5px; }

form {
  font: "Lato";
  text-align: center;
  color: #EFE7DA;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em; }

header.navigation {
  background-color: #6A6965;
  border-bottom: 1px solid #504f4c;
  height: 80px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 80px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 80px;
      padding: .8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .nav {
        float: left; } }
  header.navigation ul#navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #6A6965;
    display: block;
    line-height: 80px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 80px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: .8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: .8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 61.53846px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      header.navigation ul.submenu li a {
        background-color: #62615e;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #6A6965;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation .sign-up {
    margin-top: 1.2em;
    float: right;
    display: inline;
    font-size: .8em;
    text-transform: uppercase;
    padding: .75em 1em; }
  header.navigation .search-bar {
    padding: .85em .6em;
    width: 60%;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #777671;
        border: 1px solid #5d5c59;
        padding: .8inputem 1em;
        font-size: .8em;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 6px;
        margin: 0; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar .search-and-submit input[type=search] {
            width: 100%; } }
      header.navigation .search-bar .search-and-submit button[type=submit], header.navigation .search-bar .search-and-submit [type=submit].sign-up, header.navigation .search-bar .search-and-submit .modal [type=submit].btn, .modal header.navigation .search-bar .search-and-submit [type=submit].btn {
        background-color: #777671;
        border-radius: 3px;
        border: none;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        padding: 7px 18px;
        text-decoration: none;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled), header.navigation .search-bar .search-and-submit [type=submit].sign-up:hover:not(:disabled), header.navigation .search-bar .search-and-submit .modal [type=submit].btn:hover:not(:disabled), .modal header.navigation .search-bar .search-and-submit [type=submit].btn:hover:not(:disabled) {
          background-color: #898679;
          cursor: pointer; }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit [type=submit].sign-up:active:not(:disabled), header.navigation .search-bar .search-and-submit .modal [type=submit].btn:active:not(:disabled), .modal header.navigation .search-bar .search-and-submit [type=submit].btn:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled), header.navigation .search-bar .search-and-submit [type=submit].sign-up:focus:not(:disabled), header.navigation .search-bar .search-and-submit .modal [type=submit].btn:focus:not(:disabled), .modal header.navigation .search-bar .search-and-submit [type=submit].btn:focus:not(:disabled) {
          background-color: #686868;
          cursor: pointer; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled, header.navigation .search-bar .search-and-submit [type=submit].sign-up:disabled, header.navigation .search-bar .search-and-submit .modal [type=submit].btn:disabled, .modal header.navigation .search-bar .search-and-submit [type=submit].btn:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img, header.navigation .search-bar .search-and-submit [type=submit].sign-up img, header.navigation .search-bar .search-and-submit .modal [type=submit].btn img, .modal header.navigation .search-bar .search-and-submit [type=submit].btn img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

body {
  font-family: "Lato";
  margin: 0;
  background-color: #4E4945; }

h1 {
  color: #EFE7DA;
  font-family: Monoton;
  text-align: center;
  font-size: 100px;
  padding: 15px; }

#user-preferences-container {
  margin-top: 10%;
  margin: auto; }

h2 {
  color: #EFE7DA;
  font-family: Monoton;
  text-align: center;
  font-size: 20px; }

.venue_results {
  border: #6A6965 1px solid;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgba(78, 73, 69, 0.5);
  color: #EFE7DA; }

#navigation-bar {
  background-color: #4E4945;
  margin: 0;
  height: 50px; }

#header-container {
  width: 100%;
  background-color: #4E4945;
  background-image: url("../../static/img/bar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  height: 600px; }
  #header-container img {
    opacity: 0.5; }

#half-full-container {
  background-color: #4E4945; }

input {
  border: 5px solid white;
  border-radius: 5px;
  height: 1.5em; }

.typeahead {
  width: 250px; }

td {
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  border: black  1px; }

.hover-tile-outer {
  background-size: cover;
  background-position: bottom;
  border: 1px solid #DDD;
  height: 150px;
  margin-bottom: 1.5;
  cursor: pointer; }
  @media screen and (min-width: 40em) {
    .hover-tile-outer {
      width: 100%; } }
  .hover-tile-outer .hover-tile-container {
    height: 150px;
    overflow: hidden; }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  .hover-tile-outer .hover-tile {
    -webkit-transition: all, 0.2s ease-in-out;
    -moz-transition: all, 0.2s ease-in-out;
    transition: all, 0.2s ease-in-out;
    background: inherit;
    color: white;
    height: inherit;
    padding: 1em 1.5em; }
  .hover-tile-outer .hover-tile-visible-avoid {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    font-weight: 300;
    padding-top: 1.5em;
    text-align: center;
    background-color: #970005; }
  .hover-tile-outer .hover-tile-hidden-avoid {
    background: rgba(151, 0, 5, 0.75); }
    .hover-tile-outer .hover-tile-hidden-avoid h4 {
      margin-bottom: .5em; }
    .hover-tile-outer .hover-tile-hidden-avoid p {
      color: rgba(255, 255, 255, 0.7); }
  .hover-tile-outer .hover-tile-visible-caution {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    font-weight: 200;
    padding-top: 1.5em;
    text-align: center;
    background-color: #D0711D; }
  .hover-tile-outer .hover-tile-hidden-caution {
    background: rgba(208, 113, 29, 0.75); }
    .hover-tile-outer .hover-tile-hidden-caution h4 {
      margin-bottom: .5em; }
    .hover-tile-outer .hover-tile-hidden-caution p {
      color: rgba(255, 255, 255, 0.7); }
  .hover-tile-outer .hover-tile-visible-safe {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2em;
    font-weight: 200;
    padding-top: 1.5em;
    text-align: center;
    background-color: #2B6D69; }
  .hover-tile-outer .hover-tile-hidden-safe {
    background: rgba(43, 109, 105, 0.75); }
    .hover-tile-outer .hover-tile-hidden-safe h4 {
      margin-bottom: .5em; }
    .hover-tile-outer .hover-tile-hidden-safe p {
      color: rgba(255, 255, 255, 0.7); }

.cards:after {
  content: "";
  display: table;
  clear: both; }

.card {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #DDD;
  margin: auto;
  margin-bottom: 1.5em;
  cursor: pointer;
  box-shadow: 0 2px 4px #e6e6e6;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .card {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%; }
      .card:last-child {
        margin-right: 0; }
      .card:nth-child(5n) {
        margin-right: 0; }
      .card:nth-child(5n+1) {
        clear: left; } }
  .card .card-image {
    overflow: hidden;
    max-height: 150px; }
    .card .card-image img {
      width: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
  .card .ribbon-wrapper {
    height: 85px;
    width: 85px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px; }
    .card .ribbon-wrapper .ribbon {
      font-size: .65em;
      font-weight: 800;
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #477DCA;
      color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-bottom: 1px solid #DDD;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    padding: 0.5em 0.809em; }
  .card .card-copy {
    padding: 0.75em 0.809em;
    font-size: .9em;
    line-height: 1.5em; }
  .card .card-stats {
    padding: 0.75em 0.809em;
    overflow: auto; }
    .card .card-stats ul li {
      display: inline;
      color: #6f99d5;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em; }
      .card .card-stats ul li:first-child {
        padding-left: 0; }
      .card .card-stats ul li:last-child {
        border-right: 0; }
      .card .card-stats ul li span {
        color: #333;
        font-size: .7em;
        display: block;
        font-weight: normal; }
  .card:hover {
    background-color: white; }
    .card:hover .card-image img {
      background: #e2daac; }
    .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

.modal label {
  cursor: pointer;
  margin-bottom: 0; }
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }
.modal input[type="checkbox"] {
  display: none;
  background-color: #4E4945 transparentize, 0.1; }
.modal .modal-open {
  overflow: hidden; }
.modal .modal-window {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  .modal .modal-window .modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer; }
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  background: white; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #DDD;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  border-radius: 3px;
  background: white;
  margin: auto;
  max-height: 95%;
  position: relative;
  overflow: auto;
  width: 95%;
  padding: 1.5em;
  margin-top: .6em; }
  @media screen and (min-width: 40em) {
    .modal .modal-inner {
      padding: 3em;
      width: 70%;
      max-height: 80%;
      margin-top: 4em; } }
  @media screen and (min-width: 53.75em) {
    .modal .modal-inner {
      width: 70%;
      margin-top: 4em; } }
  .modal .modal-inner h3 {
    color: #333;
    margin-bottom: .6em;
    text-align: left;
    text-transform: capitalize; }
  .modal .modal-inner p.body, .modal .modal-inner p.intro {
    font-size: 1em;
    max-width: 100% !important;
    text-align: left; }
    .modal .modal-inner p.body.intro, .modal .modal-inner p.intro.intro {
      color: #D81639;
      line-height: 1.4em; }
    .modal .modal-inner p.body.body, .modal .modal-inner p.intro.body {
      color: #4E4945;
      line-height: 1.25em; }
      @media screen and (min-width: 40em) {
        .modal .modal-inner p.body.body, .modal .modal-inner p.intro.body {
          -webkit-columns: 2 6urlem;
          -moz-columns: 2 6urlem;
          columns: 2 6urlem; } }
  .modal .modal-inner a.cta {
    color: white;
    display: inline-block;
    margin-right: .5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }
.modal .modal-state:checked + .modal-window {
  opacity: 1;
  visibility: visible; }
.modal .modal-state:checked + .modal-window .modal-inner {
  top: 0; }

#instagram-container {
  width: 660px;
  margin: 0 auto;
  overflow: auto; }

ul {
  list-style-type: none; }

li img {
  float: left;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 200px;
  width: 200px; }

li video {
  float: left;
  margin: 5px;
  border: 2px solid #333;
  border-radius: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 200px;
  width: 200px; }

li img:hover {
  border: 3px solid #479F91; }

div.card-container {
  width: 60%;
  margin: auto; }

div.spacer {
  height: 50px; }

#checkbox-div {
  background-color: rgba(78, 73, 69, 0.9);
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 5px; }

/*# sourceMappingURL=index.css.map */
