$primary-color: #333;
$primary-font: 'Lato';
$border-radius: 5px;

$warm-cream:  #F3E7D1;
$cool-cream:  #E4DACE;
$true-beige:  #DFC8A9;
$off-white:   #EFE7DA;
$off-black:   #4E4945;
$grey:        #6A6965;

body {
	font-family: $primary-font;
  background-image: url("../../static/img/bar.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 

}
h1 {
    color: $off-white;
    font-family: Monoton;
    text-align: center;
    font-size: 100px;
    padding: 15px;


}

#user-preferences-container {
  background-color: $off-black;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin: auto;

}

h2 {
  color: $off-white;
  font-family: Monoton;
  text-align: center;
  font-size: 20px;
}

.venue_results {
  border: $grey 1px solid;
  border-radius: $border-radius;
  width: 25%;
  height: 250px;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right:10px;
  background-color: $off-black;
}

form {
	font: $primary-font;
	text-align: center;
  color: $off-white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;

}



#header-container {
	margin:auto;
	width: 50%;
}

input {
    border: 5px solid white;
    border-radius: $border-radius;
    height: 1.5em;

}

.typeahead {
  width: 250px;
}

td {
  margin-bottom: 10px;
  padding:20px;
  text-align: center;
  border: black  1px;
}