<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<title>Half Full</title>

		<link rel="shortcut icon" href="http://3.bp.blogspot.com/-ZPAG4LadOp8/Tr7QtSltB_I/AAAAAAAAAHM/kwKfDaFiHP8/s320/blog_pinkie_favicon.png" type="image/vnd.microsoft.icon">

		<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Monoton' rel='stylesheet' type='text/css'>

		<link rel='stylesheet' href='../static/css/index.css'>
 	
 	</head>




 	<body>
 		<header class="navigation">
 		<div class="navigation-wrapper">
			<a href="/" class="logo">
      		<img src="../static/img/bar_stool.png" alt="Logo Image"></a>
    	<a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    	
      <div class="nav">
      	<ul id="navigation-menu">
        <li class="nav-link more"><a href="javascript:void(0)">About</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">About Half Full</a></li>
            
            <li class="more"><a href="javascript:void(0)">About Kate</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Resume</a></li>
                <li><a href="javascript:void(0)">Life</a></li>
              </ul>
            </li>
            
         
       
      </ul>
    </div>
    <div class="navigation-tools">
      <form id='user-search-form' action="/searchforvenue/", method='post'>
      <div class="search-bar">
        <div class="search-and-submit">
          <input type='search' name='search_venue' placeholder='Venue Name'/ required>
          <input type="search" name="search_city" placeholder="City"/ required>
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</header>

{% block body %}

<div class="spacer" style='height: 100px;'></div>
 		<div id='half-full-container'>
       <h1>HALF FULL</h1>
     </div>
    


    <div id='header-container'>
      
      <div id='buttons'>
  
    
      <form id='user-preferences-form' action="/search", method='post'>
          <div id='checkbox-div'>
          <input type="text" data-provide="typeahead" class="typeahead form-control" id="user-location" placeholder="Where Ya At?" name="user_location" required></input><br>
          
          
          <input type="checkbox" name="venue-type" value="bar">  Booze.   
          <input type="checkbox" name="venue-type" value="restaurant">  Food.   
          <input type="checkbox" name="venue-type" value="cafe">  Coffee.<br>
          <input type="checkbox" name="venue-type" value="everything">Anything, as long as it's empty.
          <br>
          <br>
          
          <button type="submit" name="submit-button">Leave Me Alone</button>
          </div>
      </form>
    
    </div>
	
   </div>
  


  <!-- JavaScript -->

  		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>		
		  <script src="../static/js/index.js" type="text/javascript"></script>  
		  <script type="text/javascript" src="static/js/jquery.autocomplete.js"></script>
  		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  		<script src="static/js/typeahead.bundle.js"></script>


{% endblock %}



 </body>
</html>