{% extends 'index.html' %}
{% block body %}

<div class="spacer" style='height: 100px;'></div>

<div class='card-container' style="width: 60%; margin: auto;"> 
  <div class="card">
    <div class="card-image">

      {% if photos == "No Media" %}
      <img src="../static/img/bar.jpg" alt="Half Full Image">
      {% else %}
      <img src="{{ photos[0].get_standard_resolution_url() }}" alt="Most Recent Instagram Picture">
      {% endif %}
      <div class="card-title">
      </div>
    </div>
    
      <ul class="accordion-name" style="text-align:center; font-size:1.25em;">
        <li>
          <a href="javascript:void(0)" style="" class="js-accordion-trigger">
            {{ info['venue']['name'] }}</a>
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)"> {{ info['venue']['location']['formattedAddress'][0] }}<br>
                {{ info['venue']['location']['formattedAddress'][1] }}</a>
            </li>

            <li>
              <a href="javascript:void(0)">
              <strong>Hours</strong><br>
              {% if 'popular' in info['venue'] %}
              {% for i in info['venue']['popular']['timeframes'] %}
                {{ i['days'] }}: {{ i['open'][0]['renderedTime']}}<br>
              
              {% endfor %}
              {% else %}
                No Hours Available for {{info['venue']['name'] }}
            {% endif %}
              </a>
            </li>

             <li>
              <a href="javascript:void(0)"> {{ info['venue']['contact']['formattedPhone']}}<br>
                <a href="{{ info['venue']['url'] }}">{{ info['venue']['url'] }}</a><br>
            </li>
              <li>
              <a href="javascript:void(0)">

               {% for i in info['venue']['tags'] %}
                  : {{ i }} : 

              {% endfor %}
            </li>
            
          </ul>
        </li>
      </ul>
    <div id="userconfirmation"></div>
    <div class="card-copy">
      <div id="instagram-container">
  <ul>
    {% if photos == "No Media" %}
      <span id="noinsta">No Recent Instagram Photos</span>
    {% else %}
      {% for i in photos %}
        {% if i.get_standard_resolution_url()[-4:] == '.jpg' %}
        <li><a href=""><img src="{{ i.get_standard_resolution_url() }}"></a>
        </li>
       {% elif i.get_standard_resolution_url()[-4:] == '.mp4' %}
        <li><a href=""><video>
        <source src="{{ i.get_standard_resolution_url() }}" type="video/mp4"></a>
        </video>
        </li>
        {% endif %}
    {% endfor %}
    {% endif %}
   </ul>

</div>
      </p>
    </div>
    <div class="card-stats">
      <ul>
        {% if info['venue']['rating'] %}
        <li>{{ info['venue']['rating'] }}<span>Rating</span></li>
        {% else %}
        <li>No<span>Ratings</span></li>
        {% endif %}
        <li>{{ info['venue']['likes']['count'] }}<span>Likes</span></li>
        <li>{{ info['venue']['hereNow']['count'] }}<span>Current Checkins</span></li>
      </ul>
    </div>
  </div>
</div>

<br>


<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>  
<script>
$('.js-accordion-trigger').bind('click', function(e){
  jQuery(this).parent().find('.submenu').slideToggle('fast'); 
 // apply the toggle to the ul
  jQuery(this).parent().toggleClass('is-expanded');
  e.preventDefault();
});
</script>
<script src="../static/js/report.js" type="text/javascript"></script> 



{%  endblock  %}

