
  {% extends 'index.html' %}
  {% block body %}



<div class="spacer" style='height: 50px;'></div>


<div class='card-container' style="width: 60%; margin: auto;"> 
  <div class="card">
    <div class="card-image">
      <img src="{{ photos[0].get_standard_resolution_url() }}" alt="">
    </div>
    <div class="card-header">
      First Card
    </div>
    <div class="card-copy">
      <div id="instagram-container">
  <ul>
    {% for i in photos %}
      {% if i.get_standard_resolution_url()[-4:] == '.jpg' %}
        <li><a href="#"><img src="{{ i.get_standard_resolution_url() }}"></a></li>
      {% elif i.get_standard_resolution_url()[-4:] == '.mp4' %}
        <li><a href="#"><video>
        <source src="{{ i.get_standard_resolution_url() }}" type="video/mp4"></a>
        </video>
        </li>
      {% endif %}
    {% endfor %}
   </ul>
</div>
      </p>
    </div>
    <div class="card-stats">
      <ul>
        <li>98<span>Items</span></li>
        <li>298<span>Things</span></li>
        <li>923<span>Objects</span></li>
      </ul>
    </div>
  </div>
</div>

<br>




{%  endblock  %}
<div style="background-color:white;">
   {{ hours }} 
  <br>
  {{ info }}
  <br>
</div>



      {% for i in photos %}
        <img src="{{ i.get_standard_resolution_url() }}"><br>
        LOCATION: {{ i.location }}<br>
        CAPTION: {{ i. caption }}<br>
        CREATED TIME: {{ i.created_time }}<br>
        LIKE COUNT: {{ i.like_count }}<br>
        LIKES: {{ i.likes }}<br>
        COMMENT COUNT: {{ i.comment_count }}<br>
      {% endfor %}

      {% for i in hours %}
        {{ i }}
      {% endfor %}

['__class__', '__delattr__', '__dict__', '__doc__', '__format__', '__getattribute__', '__hash__', '__init__', '__module__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__unicode__', '__weakref__', 'caption', 'comment_count', 'comments', 'created_time', 'filter', 'get_low_resolution_url', 'get_standard_resolution_url', 'get_thumbnail_url', 'id', 'images', 'like_count', 'likes', 'link', 'location', 'object_from_dictionary', 'tags', 'type', 'user', 'user_has_liked']

  	</body>

